name: Create releases
on:
  schedule:
    - cron: '0 5 * * *' # every day at 5am UTC
  push:
    branches:
      - main

jobs:
  release:
    name: release
    if: github.ref == 'refs/heads/main' && github.repository == 'anthropics/anthropic-sdk-ruby'
    runs-on: ubuntu-latest
    environment: production-release

    steps:
      - uses: actions/checkout@v4

      - uses: stainless-api/trigger-release-please@v1
        id: release
        with:
          repo: ${{ github.event.repository.full_name }}
          stainless-api-key: ${{ secrets.STAINLESS_API_KEY }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: false

      - name: Publish to RubyGems.org
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          bash ./bin/publish-gem
        env:
          # `RUBYGEMS_HOST` is only required for private gem repositories, not https://rubygems.org
          RUBYGEMS_HOST: ${{ secrets.ANTHROPIC_RUBYGEMS_HOST || secrets.RUBYGEMS_HOST }}
          GEM_HOST_API_KEY: ${{ secrets.ANTHROPIC_GEM_HOST_API_KEY || secrets.GEM_HOST_API_KEY }}

      - name: Update RubyDocs
        if: ${{ steps.release.outputs.releases_created }}
        run: |
          curl -i -H "Content-Type: application/json" -X POST -d '{"repository":{"url":"https://github.com/anthropics/anthropic-sdk-ruby"}}' https://www.rubydoc.info/checkout
